.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.shimmerParent {
  display: contents; /* Fix */
}

.shimmerCard {
  width: 250px;
  height: 350px;
  background-color: rgb(232, 230, 230);
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
}
.card img {
  width: 250px;
  height: 300px;
}
.card {
  width: 300;
  height: 400;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px rgb(200, 200, 200);
  background-color: orange;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hello {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hello ul {
  list-style: none;
  display: flex;
  gap: 50px;
  position: absolute;
  right: 100px;
}
.hello li {
  display: flex;
}
.accParent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 1230px;
  margin: 10px auto;
}
.accHead {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgb(236, 228, 228);
  border: 2px solid black;
  padding: 10px 20px 10px 10px;
  height: 20px;
}
.parentComment {
  margin: 10px;
}
.replies {
  margin-left: 20px;
}
.sliderParent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  position: relative;
  width: 800px;
  border: 2px solid black;
  height: 330px;
  overflow: hidden;
}

.box1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: black;
  height: 300px;
  width: 20px;
  position: absolute;
  right: 750px;
  top: 20px;
  z-index: 1;
}
.box2 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: black;
  height: 300px;
  width: 20px;
  position: absolute;
  left: 750px;
  z-index: 1;
  top: 20px;
}
.sliderParent img {
  position: absolute;
  z-index: 0;
  top: 10px;
}
.halfImgRight {
  position: absolute;
  left: 650px;
  top: 20px;
}
.halfImgLeft {
  position: absolute;
  right: 650px;
  top: 20px;
}
.product {
  display: flex;
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px rgb(163, 162, 162);
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
}
.product img {
  width: 300px;
  height: 300px;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
}
.pagination span {
  padding: 5px;
  cursor: pointer;
}
.pagination .active {
  font-weight: bold;
  text-decoration: underline;
}
.chatWindow {
  display: flex;
  flex-direction: column-reverse;
  width: 420px;
  height: 630px;
  border: 2px solid black;
  margin: 10px;
  overflow: scroll;
  padding: 10px;
}
.livContainer {
  display: flex;
}
.chat {
  display: flex;
  flex-direction: column;
}
.chatHead {
  display: flex;
}
.chatHead img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.chatInput {
  display: flex;
  width: 460px;
}
.chatInput input {
  flex: 8;
  width: 150px;
  margin: 10px;
}
.chatInput button {
  flex: 1;
  margin: 10px;
}
.searchContainer {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2px;
  padding: 2px;
  margin: 10px auto;
  position: absolute;
  top: 80px;
}
.search ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  border: 1px solid black;
}
.search li {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
}
.search li:hover {
  background-color: rgb(236, 234, 234);
}
